<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Bienvenido a la Página de Inicio</h1>
    
    <!-- Menú principal -->
    <header>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/registro_actividades">Registro de Actividades de Reciclaje</a></li>
            <li><a href="/seguimiento">Seguimiento de Reciclaje</a></li>
            <li><a href="/ranking_comunitario">Ranking Comunitario</a></li>
            <li><a href="/inicio_sesion">Iniciar Sesión</a></li>
        </ul>
    </header>
</body>
</html>