<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@300&display=swap" rel="stylesheet">
    <title>Index</title>
</head>
<body>
    <!-- Menú principal -->
    <header id="header">
        <ul id="mainMenu">
            <li><a href="/">Inicio</a></li>
            <li><a href="/registro_actividades">Registro de Actividades de Reciclaje</a></li>
            <li><a href="/seguimiento">Seguimiento de Reciclaje</a></li>
            <li><a href="/ranking_comunitario">Ranking Comunitario</a></li>
            <li><a href="/inicio_sesion">Iniciar Sesión</a></li>
        </ul>
    </header>
    <h1>Bienvenido a la Página de Inicio</h1>
</body>
</html>