<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='inicio_sesion.css') }}">
    <title>Inicio de Sesión</title>
</head>
<body>
    <!-- Menú principal -->
    <header id="header">
        <ul id="mainMenu">
            <li><a href="/">Inicio</a></li>
            <li><a href="/registro_actividades">Registro de Actividades de Reciclaje</a></li>
            <li><a href="/seguimiento">Seguimiento de Reciclaje</a></li>
            <li><a href="/ranking_comunitario">Ranking Comunitario</a></li>
            <li><a href="/inicio_sesion">Iniciar Sesión</a></li>
        </ul>
    </header>
    <section class="contentPage">
        <div  class="contentColumn"><h1 class="pageTitle">Iniciar Sesión</h1></div>
        <div  class="contentColumn">
            <form method="POST">
                <label class="labelForm" for="correo">Correo Electrónico:</label>
                <input class="inputForm" type="email" id="correo" name="correo" required><br><br>
                
                <label class="labelForm" for="contrasena">Contraseña:</label>
                <input class="inputForm" type="password" id="contrasena" name="contrasena" required><br><br>
                
                <input type="submit" class="submitButton" value="Iniciar Sesión">
            </form>
        </div>
    </section>
</body>
</html>