<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ranking_comunitario</title>
</head>
<body>
    <h1>Ranking Comunitario</h1>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Puntos</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
                <tr>
                    <td>{{ usuario.nombre }}</td>
                    <td>{{ usuario.puntos }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>