<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ranking_comunitario.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='seguimiento.css') }}">
    <title>ranking_comunitario</title>
</head>
<body>
    <!-- Menú principal -->
    <header id="header">
        <ul id="mainMenu">
            <li><a href="/">Inicio</a></li>
            <li><a href="/registro_actividades">Registro de Actividades de Reciclaje</a></li>
            <li><a href="/seguimiento">Seguimiento de Reciclaje</a></li>
            <li><a href="/ranking_comunitario">Ranking Comunitario</a></li>
            
            {% if 'usuario' in session %}
                <li><a href="/usuario">Usuario</a></li>
                <!-- <li><a href="{{ url_for('cerrar_sesion') }}">Cerrar Sesión</a></li> -->
            {% else %}
                <li><a href="/inicio_sesion">Iniciar Sesión</a></li>
            {% endif %}
        </ul>
        
    </header>
    <h1 class="pageTitle">Ranking Comunitario</h1>
    <section class="contentRanking">
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Puntos</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                    <tr>
                        <td>{{ usuario.nombre }}</td>
                        <td>{{ usuario.puntos }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</body>
</html>