<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='registro_actividades.css') }}">
    <title>registro_actividades</title>
</head>
<body>
    <!-- Menú principal -->
    <header id="header">
        <ul id="mainMenu">
            <li><a href="/">Inicio</a></li>
            <li><a href="/registro_actividades">Registro de Actividades de Reciclaje</a></li>
            <li><a href="/seguimiento">Seguimiento de Reciclaje</a></li>
            <li><a href="/ranking_comunitario">Ranking Comunitario</a></li>
            <li><a href="/inicio_sesion">Iniciar Sesión</a></li>
        </ul>
    </header>
    <section class="contentPage">
        <div  class="contentColumn"><h1 class="pageTitle">Registro de Actividades de Reciclaje</h1></div>
        <div  class="contentColumn">
            <form method="POST" action="/registro_actividades">
                <label class="labelForm" for="material">Material:</label>
                <input type="text" id="material" class="inputForm" name="material" required><br>
                
                <label class="labelForm" for="cantidad">Cantidad:</label>
                <input type="number" id="cantidad" class="inputForm" name="cantidad" required><br>
                
                <label class="labelForm" for="categoria">Categoría:</label>
                <select class="inputForm" id="categoria" name="categoria" required>
                    <option value="plastico">Plástico</option>
                    <option value="papel">Papel</option>
                    <option value="vidrio">Vidrio</option>
                </select>
                <br>
                <input type="submit" class="submitButton" value="Registrar Actividad">
            </form>
        </div>
    </section>
</body>
</html>