<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seguimiento</title>
</head>
<body>
    <!-- Menú principal -->
    <header>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/registro_actividades">Registro de Actividades de Reciclaje</a></li>
            <li><a href="/seguimiento">Seguimiento de Reciclaje</a></li>
            <li><a href="/ranking_comunitario">Ranking Comunitario</a></li>
            <li><a href="/inicio_sesion">Iniciar Sesión</a></li>
        </ul>
    </header>
    <h1>Seguimiento de Reciclaje</h1>
    <form method="POST" action="/seguir">
        <label for="material">Material:</label>
        <input type="text" id="material" name="material" required><br>
        
        <label for="cantidad">Cantidad:</label>
        <input type="number" id="cantidad" name="cantidad" required><br>
        
        <input type="submit" value="Registrar Seguimiento">
    </form>
</body>
</html>